<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">Main page</button>
  </div>

  <div class="info">
    <strong>Post author</strong>
    <small>09.11.2020</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet, at autem beatae debitis delectus dolor dolorem doloribus eaque eius eos eum harum illum, impedit laudantium magnam, maiores molestiae natus odio officia quas qui sunt tenetur vitae. Doloremque enim impedit, molestiae nam natus non obcaecati quibusdam quidem reprehenderit saepe.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet, at autem beatae debitis delectus dolor dolorem doloribus eaque eius eos eum harum illum, impedit laudantium magnam, maiores molestiae natus odio officia quas qui sunt tenetur vitae. Doloremque enim impedit, molestiae nam natus non obcaecati quibusdam quidem reprehenderit saepe.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet, at autem beatae debitis delectus dolor dolorem doloribus eaque eius eos eum harum illum, impedit laudantium magnam, maiores molestiae natus odio officia quas qui sunt tenetur vitae. Doloremque enim impedit, molestiae nam natus non obcaecati quibusdam quidem reprehenderit saepe.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium amet, at autem beatae debitis delectus dolor dolorem doloribus eaque eius eos eum harum illum, impedit laudantium magnam, maiores molestiae natus odio officia quas qui sunt tenetur vitae. Doloremque enim impedit, molestiae nam natus non obcaecati quibusdam quidem reprehenderit saepe.</p>
  </div>
</div>
